---
const { title, body, image } = Astro.props;
import imgUrl from "../../utils/helpers/imgUrl";
---

<section class="row row--gray h-[40vh] min-h-[400px] flex items-center justify-center xl:min-h-[420px] xl:h-[50vh]">

    {image ? (
        <picture class="absolute top-0 left-0 w-full h-full">
            <source
                // media="(min-width: 0px)"
                srcset={`${imgUrl(image).width(800).url()} 1x, ${imgUrl(image).width(1200).url()} 2x`}
            />
            <source
                media="(min-width: 800px)"
                srcset={`${imgUrl(image).width(1000).url()} 1x, ${imgUrl(image).width(1800).url()} 2x`}
            />
            <img
                src={imgUrl(image).width(50).blur(20).quality(20).url()}
                loading="lazy"
                class="absolute z-10 top-0 left-0 w-full h-full object-cover"
                style={`object-position: ${image?.hotspot?.x * 100}% ${image?.hotspot?.y * 100}%`}
            />
        </picture>
    ) : ''}

    <div class="container text-center relative z-20">
        <div class="bg-white px-6 py-4 inline-block rounded-md">
            <h1 class="">{title}</h1>

            {body ? (
                <div class="rich text-lg">
                    <p>{body}</p>
                </div>
            ) : (
                ""
            )}
        </div>
    </div>
</section>
